[Unit]
Description=frontend_service

[Service]
Type=simple
User=frontend
Group=frontend
ExecStart=http-server /opt/sausage-store/static/dist/frontend/ -p 80 --proxy http://localhost:8080

[Install]
WantedBy=multi-user.target
